<header>
  <!-- header voor profiel -->
  <nav>
    <a href="#"><img
        src="/static/media/hamburger.png"
        alt="menubutton"
      /></a><!--button voor het hamburgermenu-->
    <ul>
      <!--uitklapbaar hamburger menu-->
      <li><a href="#"><img
            src="/static/media/crosshamburger.png"
            alt="menubuttonclose"
          /></a></li>
      <li><a href="#">Matches</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Info</a></li>
      <li><a href="#">Credits</a></li>
      <li><a href="#">What is breakfast</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </nav>
  <h1>My profile</h1>
</header>