<body>
  <img src="/static/media/logo.png" alt="ontbijtje logo" class="logo">
  <!-- form voor invoegen ontbijtvoorkeuren -->
  <form action="/breakfast" method="post">

    <fieldset class="checkboxes">
      <!-- favorite drinken invoegen -->
      <legend>Favorite drinks</legend>

      <p>
      <input type="checkbox" name="coffee" />
      <label for="coffee">Coffee</label>
      </p>
    
      <p>
      <input type="checkbox" name="water" />
      <label for="water">Water</label>
      </p>
      
      <p>
      <input type="checkbox" name="tea" />
      <label for="tea">Tea</label>
      </p>

      <p>
      <input type="checkbox" name="juice" />
      <label for="juice">Juice</label>
      </p>

      <p>
      <input type="checkbox" name="smoothie" />
      <label for="smoothie">Smoothie</label>
      </p>
    </fieldset>

    <fieldset class="checkboxes">
      <!-- favoriete eten invoegen -->
      <legend>Favorite foods</legend>

      <p>
      <input type="checkbox" name="croissant" />
      <label for="croissant">Croissant</label>
      </p>

      <p>
      <input type="checkbox" name="toast" />
      <label for="toast">Toast</label>
      </p>

      <p>
      <input type="checkbox" name="eggs" />
      <label for="eggs">Eggs</label>
      </p>

      <p>
      <input type="checkbox" name="yogurt" />
      <label for="yogurt">Yogurt</label>
      </p>

      <p>
      <input type="checkbox" name="sandwich" />
      <label for="sandwich">Sandwich</label>
      </p>
    </fieldset>

    <button type="submit">Done</button>
  </form>
</body>