<body> <!-- form voor invoegen ontbijtvoorkeuren -->
<form action="/breakfast" method="post">

  <fieldset> <!-- favorite drinken invoegen -->
    <legend>Favorite drinks</legend>

    <label for="coffee">Coffee</label>
    <input type="checkbox" name="coffee">

    <label for="water">Water</label>
    <input type="checkbox" name="water">

    <label for="tea">Tea</label>
    <input type="checkbox" name="tea">

    <label for="juice">Juice</label>
    <input type="checkbox" name="juice">

    <label for="smoothie">Smoothie</label>
    <input type="checkbox" name="smoothie">
  </fieldset>

  <fieldset> <!-- favoriete eten invoegen -->
    <legend>Favorite foods</legend>

    <label for="croissant">Croissant</label>
    <input type="checkbox" name="croissant">

    <label for="toast">Toast</label>
    <input type="checkbox" name="toast">

    <label for="eggs">Eggs</label>
    <input type="checkbox" name="eggs">

    <label for="yogurt">Yogurt</label>
    <input type="checkbox" name="yogurt">

    <label for="sandwich">Sandwich</label>
    <input type="checkbox" name="sandwich">
  </fieldset>

	<button type="submit">Done</button>
</form>
</body>