<body>
     {{>header}}

<!--Avatar -->
<img value="data.avatar">
<p>{{data.pronouns}}</p>
<h4>{{data.username}}</h4><!--Username -->

<h3>Ideal breakfast</h3><!--ideal breakfast -->
<article>{{data.breakfast}}</article>

<h3>Usually wakes up at</h3><!--I usually get up at -->
<p>{{data.wakeuptime}}</p>