<body> <!-- form voor voorkeuren profiel -->
<form method="post" action="/preferences"> <!--enctype="multipart/form-data"-->

  <fieldset> <!-- tijd opstaan invoegen -->
    <legend>I usuallly get up at</legend>

    <label for="wakeuptime">I usuallly get up at</label>
    <input type="time" name="wakeuptime" required>
  </fieldset>

  <fieldset> <!-- selecteren gendervoorkeur -->
    <legend>I would like to eat breakfast with</legend>

    <label for="female">Female</label>
    <input type="checkbox" name="female">

    <label for="male">Male</label>
    <input type="checkbox" name="male">

    <label for="idk">Don't care</label>
    <input type="checkbox" name="idk">

    <label for="other">Other</label>
    <input type="textfield" name="other">

    <button type="submit">Next</button>
  </fieldset>

</form>
</body>