<body>
  <img src="/static/media/logo.png" alt="ontbijtje logo" class="logo">
  <!-- form voor voorkeuren profiel -->
  <form method="post" action="/preferences">

    <fieldset>
      <!-- tijd opstaan invoegen -->
      <legend>Wakeup time</legend>

      <label for="wakeuptime">I usuallly get up at</label>
      <input type="time" name="wakeuptime" required />
    </fieldset>

    <fieldset class="checkboxes">
      <!-- selecteren gendervoorkeur -->
      <legend>I would like to eat breakfast with</legend>
      <p>
      <input type="checkbox" name="female" />
      <label for="female">Female</label>
      </p>

      <p>
      <input type="checkbox" name="male" />
      <label for="male">Male</label>
      </p>

      <p>
      <input type="checkbox" name="idk" />
      <label for="idk">Don't care</label>
      </p>

      <p>
      <label for="other">Other:</label>
      <input type="textfield" name="other" />
      </p>

    </fieldset>
    <button type="submit">Next</button>

  </form>
</body>