$base-color-croissant: #e6a97e;
$base-color-coffee: #9b572c;
$base-color-egg: #f0c579;

$font-color-headings: #281915;

h1 {
    color: aquamarine;
}
form {
    background-color: $base-color-croissant; 
}
legend{
    color: green;
    h1{
        color: aquamarine;
        a{
            color: green;
        }
    }
}
