html {
  background-color: #face98;
  font-family: "Nunito", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

button {
  /*alle buttons*/
  background-color: #9b572c;
  color: black;
  padding: 0.5em 1em 0.5em 1em;
  max-width: 10em;
  font-size: 1em;
  border-style: solid;
  border-color: #58372a;
  border-bottom: #28191560 solid;
  border-width: 0em 0em 0.3em 0.3em;
  border-radius: 0.2em;
}

button:hover {
  background-color: #814017;
  border-width: 0em 0em 0.2em 0.2em;
  margin-top: 0.1em;
}

article {
  /*for breakfast types*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e6a97e;
  max-width: 5em;
  max-height: 5em;
  border-width: 0em 0em 0.2em 0.2em;
  border-style: solid;
  border-color: #bb4738;
  border-radius: 0.5em;
}

article img {
  /*for breakfast types images*/
  max-width: 3em;
}

article p {
  margin: 0;
}

section.profile {
  border-style: solid;
  border-width: 0em 0em 0.2em 0em;
  border-color: #bb4738;
  min-width: 15em;
}

section.profile h2 {
  background-color: #bb4738;
  padding: 0.25em 1.5em 0.25em 1.5em;
  border-radius: 0.3em;
}

section:nth-of-type(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

section:nth-of-type(2) h3 {
  /*ideal breakfast kopje*/
  padding-left: 3em;
  padding-right: 3em;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: 1/-1;
}

section:nth-of-type(3) {
  background-color: #e6a97e;
  margin: 2em 0em 2em 0em;
  border-radius: 0.5em;
  min-width: 24em;
}

section:nth-of-type(3) h3:first-of-type {
  text-decoration: underline;
  margin-top: 0;
  color: #bb4738;
}

section:nth-of-type(4) {
  background-color: #e6a97e;
  margin: 2em 0em 2em 0em;
  padding: 0em 2em 2em 2em;
  max-width: 20em;
  border-radius: 0.5em;
}

section:nth-of-type(4) h3:first-of-type {
  text-decoration: underline;
  margin-top: 0;
  color: #bb4738;
}

body section > img {
  /*avatar*/
  margin-top: 10em;
  max-width: 8em;
  border: 0.2em;
  border-style: solid;
  border-color: #bb4738;
  border-radius: 5em;
}

img.logo {
  /*logo*/
  margin: 0;
  max-width: 10em;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: none;
}

nav > a img {
  /*hamburger menu knop (streepjes)*/
  height: 2em;
  padding-left: 1em;
}

button > a {
  /*Kleur buttons*/
  text-decoration: none;
  color: #281915;
}

/*------------------
-------HEADER-------
--------------------*/
h1 {
  /*de titel*/
  color: white;
  text-align: center;
  font-size: 1.5em;
}

header {
  /*header voor home pagina*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1em 0em 0.4em;
  z-index: 2;
  background-color: #9b572c;
}

nav {
  /*navigatie voor homepage*/
}

nav ul {
  /*Hamburger menu*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9b572c;
  text-decoration: none;
  margin: 0;
  padding-top: 4em;
  padding: 2em 1em 1em 1em;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

nav ul.open {
  /*openen hamburger menu*/
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  max-width: 34em;
}

nav ul li {
  /*Hamburger menu kopjes*/
  list-style-type: none;
  padding: 1em 1.5em 1em 1.5em;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 700;
}

nav ul img {
  /*kruisje/sluit menu knop*/
  width: 2em;
  height: auto;
}

nav a {
  /*geen underline van linkjes*/
  text-decoration: none;
  color: white;
}

nav a:hover {
  /*geen underline van linkjes*/
  text-decoration: underline;
}

nav > a img {
  /*hamburger menu knop (streepjes)*/
  height: 2em;
  padding-left: 1em;
}

noscript {
  /*als javascript het niet meer doet*/
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: 1/-1;
}

noscript nav {
  /*de nav*/
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: 1/-1;
  border-top: solid;
  border-width: 0.01em;
  border-color: white;
}

noscript nav ul {
  /*de gehele lijst in de nav*/
  position: static;
  -webkit-transform: none;
  transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background: none;
}

noscript nav ul li {
  /*de kopjes in de nav*/
  -ms-grid-column-align: center;
  justify-self: center;
  font-size: 0.67em;
  height: 0.5em;
  padding: 0.3em;
  text-decoration: underline;
}

noscript nav ul li a {
  /*de links van de nav*/
  width: 0.5em;
  color: white;
}

/*------------------
------DE FORMS------
--------------------*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e6a97e;
  border-radius: 2em;
  padding: 1em;
}

form fieldset {
  /*alle invulvelden in*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 18em;
}

form fieldset legend {
  /*kopjes in de form*/
  color: #281915;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  max-width: 12em;
}

form fieldset.checkboxes {
  /*checkboxes aan het begin zetten*/
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

form fieldset.checkboxes p {
  /*checkboxes weer in het midden zetten*/
  padding-left: 4.5em;
}

form label {
  /*namen invulveld*/
  color: #58372a;
  margin: 1em 0em 1em 0.2em;
}

form label a {
  /*terms of service styling*/
  text-decoration: none;
  color: #bb4738;
}

form input {
  background-color: #f0c579;
  border-style: none;
  border-radius: 0.4em;
  padding: 0.5em;
  max-width: 22em;
}

form input[type="text"] {
  /*input voor tekst*/
  width: 20em;
}

form input[type="checkbox"] {
  /*input voor tekst*/
  cursor: pointer;
}

form input[type="checkbox"]:checked {
  /*input voor tekst*/
  background-color: #bb4738;
}

form input:focus {
  background-color: #9b572c;
  padding: 0.5em;
}

/*------------------
------RESTYLEN------
--------------------*/
@media (min-width: 70em) {
  noscript {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  body {
    background-image: url(/static/media/background.png);
    background-position: 0;
    background-size: 100%;
  }
  h1 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  article {
    min-width: 7em;
    min-height: 7em;
  }
  article img {
    /*for breakfast types images*/
    max-width: 4em;
  }
  article p {
    margin-top: 1em;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0.5em;
  }
  header nav {
    /*de nav*/
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: 2;
    grid-row: 2;
    grid-column: 1/-1;
    border-top: solid;
    border-width: 0.01em;
    border-color: white;
  }
  header nav img {
    /*de sluit button en hamburger button*/
    display: none;
  }
  header nav ul {
    /*de gehele lijst in de nav*/
    position: static;
    -webkit-transform: none;
    transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 1em;
    background: none;
  }
  header nav ul li {
    /*de kopjes in de nav*/
    font-size: 0.8em;
    height: 1em;
  }
  header nav ul li a {
    /*de links van de nav*/
    width: 1em;
  }
  section:nth-of-type(2) h3 {
    padding-left: 6.5em;
    padding-right: 3em;
  }
  section.profile {
    min-width: 20em;
  }
}
/*# sourceMappingURL=style.css.map */
