html {
  background-color: #face98;
  font-family: "Nunito", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  /*alle buttons*/
  background-color: #9b572c;
  color: black;
  padding: 0.5em 1em 0.5em 1em;
  max-width: 10em;
  font-size: 1em;
  border-style: solid;
  border-color: #58372a;
  border-width: 0em 0em 0.25em 0.25em;
  border-radius: 0.2em;
}

body > img {
  /*avatar*/
  margin-top: 10em;
  max-width: 8em;
  border: 0.2em;
  border-style: solid;
  border-color: #bb4738;
  border-radius: 5em;
}

img.logo {
  /*logo*/
  margin: 0;
  max-width: 10em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
}

nav > a img {
  /*hamburger menu knop (streepjes)*/
  height: 2em;
  padding-left: 1em;
}

button > a {
  /*Kleur buttons*/
  text-decoration: none;
  color: #281915;
}

/*------------------
-------HEADER-------
--------------------*/
h1 {
  /*de titel*/
  color: #281915;
  text-align: center;
  font-size: 1.5em;
}

header {
  /*header voor home pagina*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em 0em 0.4em;
  z-index: 2;
  background-color: #9b572c;
}

nav {
  /*navigatie voor homepage*/
}

nav ul {
  /*Hamburger menu*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9b572c;
  text-decoration: none;
  margin: 0;
  padding-top: 4em;
  padding: 2em 1em 1em 1em;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

nav ul .open {
  /*openen hamburger menu*/
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  max-width: 34em;
}

nav ul li {
  /*Hamburger menu kopjes*/
  list-style-type: none;
  padding: 1em 1.5em 1em 1.5em;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 700;
}

nav ul img {
  /*kruisje/sluit menu knop*/
  width: 2em;
  height: auto;
}

nav a {
  /*geen underline van linkjes*/
  text-decoration: none;
  color: #281915;
}

nav > a img {
  /*hamburger menu knop (streepjes)*/
  height: 2em;
  padding-left: 1em;
}

/*------------------
------DE FORMS------
--------------------*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6a97e;
  border-radius: 2em;
  padding: 1em;
}

form fieldset {
  /*alle invulvelden in*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 18em;
}

form fieldset legend {
  /*kopjes in de form*/
  color: #281915;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  max-width: 12em;
}

form fieldset.checkboxes {
  /*checkboxes aan het begin zetten*/
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form fieldset.checkboxes p {
  /*checkboxes weer in het midden zetten*/
  padding-left: 4.5em;
}

form label {
  /*namen invulveld*/
  color: #58372a;
  margin: 1em 0em 1em 0.2em;
}

form label a {
  /*terms of service styling*/
  text-decoration: none;
  color: #bb4738;
}

form input {
  background-color: #f0c579;
  border-style: none;
  border-radius: 0.4em;
  padding: 0.5em;
  max-width: 22em;
}

form input[type=text] {
  /*input voor tekst*/
  width: 20em;
}

form input:focus {
  background-color: #9b572c;
  padding: 0.5em;
}

form button {
  background-color: #9b572c;
  padding: 0.5em 1em 0.5em 1em;
  border-style: solid;
  border-color: #58372a;
  border-width: 0em 0em 0.25em 0.25em;
  border-radius: 0.2em;
}

form button:hover {
  background-color: #58372a;
  border-color: #281915;
}

/*------------------
------RESTYLEN------
--------------------*/
@media (min-width: 70em) {
  body {
    background-image: url(/static/media/background.png);
    background-position: 0;
    background-size: 100%;
  }
  h1 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0.5em;
  }
  header nav {
    /*de nav*/
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 2;
    grid-row: 2;
    grid-column: 1/-1;
    border-top: solid;
    border-width: 0.01em;
    border-color: white;
  }
  header nav img {
    /*de sluit button en hamburger button*/
    display: none;
  }
  header nav ul {
    /*de gehele lijst in de nav*/
    position: static;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1em;
    background: none;
  }
  header nav ul li {
    /*de kopjes in de nav*/
    font-size: 0.8em;
    height: 1em;
  }
  header nav ul li a {
    /*de links van de nav*/
    width: 1em;
  }
}
/*# sourceMappingURL=style.css.map */